img {
  padding-left: 200px;
}
body {
    background-color: #fff0b3;
}
h1 {
  color: #a0522d;
  text-align: center;
}
p {
 color: black;
}
h2 {
  color: orange;
  text-align: center;
}
h4 {
  color: black;
  text-align: center;
}
a {
  color: blue;
}
table {
  border: 3px solid blue;
  padding: 10px;
  margin-left: 30%;
}
th {
  border: 3px solid blue;
  padding: 10px;
}
#neee {
  margin-left: 5%;
}
#jaa {
  margin-left: 42 %;
}
#website2 {
  margin-left: 37%
}
